.col-container{min-height:600px;}
#lyrics-input{width:100%;}
.lyrics-line{border-top: 2px solid #ccecfc;padding: 3px;}
.lyrics-word{border-bottom:1px solid black}
.lyrics-word.choice{border:3px solid green}
